#consent-popup {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2rem;
	background-color: crimson;
	color: whitesmoke;
	opacity: 1;
	transition: opacity 0.8s ease;

	&.hidden {
		opacity: 0;
	}
}
